<h1>Blackjack</h1>

Welcome <%= session[:player_name] %>.

<div class='well'>
<h4>Dealer's cards:</h4> 
	<% session[:dealer_cards].each do |card| %> 
		<%= card_image(card) %>
	<% end %>
</div>

<br/> 

<div class='well'>
<h4>Player's cards:</h4>
	<% session[:player_cards].each do |card| %> 
		<%= card_image(card) %>
	<% end %>
</div>

<p>
	What would you like to do? 
<%= session[:player_name] %> has <%= calculate_total(session[:player_cards]) %>
</p>

<% if @show_hit_or_stay_buttons %>
	<form id="hit_form" action="/game/player/hit" method='post'> 
		<input type="submit" class="btn-success" value="Hit" /> 
	</form> 

	<form id="stay_form" action ="/game/player/stay" method='post'>
    	<input type="submit" class="btn-warning" value="Stay" />
  	</form>
<% end %>
</p>